In [1]:
import pandas as pd

data1 = pd.read_csv('/Users/messie/Desktop/vehicles/vehicles.csv')
data2 = pd.read_csv('/Users/messie/Desktop/vehicles/vehicles_tab.txt', sep='\t')
data3 = pd.read_csv('/Users/messie/Desktop/vehicles/vehicles_pipe.txt', sep='|')

data1.to_csv('/Users/messie/Desktop/vehicles/exportation.txt', sep='|', index=False)

# Avec excel
data4 = pd.read_excel('/Users/messie/Desktop/vehicles/vehicles.xlsx')
data4.to_excel('/Users/messie/Desktop/vehicles/exportation.xlsx', index=False)

In [4]:
# Avec JSON
data5 = pd.read_json('/Users/messie/Desktop/vehicles/vehicles.json', orient='records')
data5.to_json('/Users/messie/Desktop/vehicles/exportation.json', orient='records')

In [14]:

import pymysql
from sqlalchemy import create_engine

#connection = pymysql.connect(host='sqlhost', trusted=True)

In [18]:
engine = create_engine('mysql+pymysql://root:m@localhost/publications')

In [23]:
data = pd.read_sql_query('SELECT * FROM publications.employee', engine)
print(data)

       emp_id      fname minit      lname  job_id  job_lvl pub_id  hire_date
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [22]:
data.to_sql('employee2', engine, if_exists='replace', index=False)