# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [68]:
"""
Remettre le headers à chaque fois
response = requests.get(url, headers={"user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"})
"""

'\nRemettre le headers à chaque fois\nresponse = requests.get(url, headers={"user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"})\n\nPour le lab suivant :\nattention, ne pas écrire le token dans le code\nle mettre dans un fichier externe à github\nl\'appeler avec un open\n'

In [1]:
# Import libraries.

import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

"""
https://www.zalando.fr/api/catalog/articles?campaigns=fr_ss19_eoss_fs_wave_3_2019_26&categories=femme&limit=84&offset=84&sort=popularity

"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"
    
"""

'\nhttps://www.zalando.fr/api/catalog/articles?campaigns=fr_ss19_eoss_fs_wave_3_2019_26&categories=femme&limit=84&offset=84&sort=popularity\n\n"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"\n    \n'

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [67]:
# Define the initial API endpoint URL.

url = 'https://www.zalando.fr/api/catalog/articles?campaigns=fr_ss19_eoss_fs_wave_3_2019_26&categories=femme&limit=84&offset=84&sort=popularity'

In [3]:
# Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

response = requests.get(url, headers={"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"})
results = response.json()
results

flattened_data = json_normalize(results)

flattened_data1 = json_normalize(flattened_data.articles[0])
flattened_data1.head(2)

,brand_name,family_articles,flags,is_premium,media,name,outfits,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,sku,url_key
0,Nike Performance,"[{'sku': 'N1241A0NO-Q11', 'url_key': 'nike-per...","[{'key': 'discountRate', 'value': '-30%', 'tra...",False,[{'path': 'N1/24/1A/0N/OQ/11/N1241A0NO-Q11@9.1...,REVOLUTION 4 - Chaussures de running neutres -...,NaN,False,False,False,False,"49,95 €","35,00 €",shoe,"[35.5, 36, 37.5, 38, 38.5, 39, 40, 40.5, 41, 4...",N1241A0NO-Q11,nike-performance-revolution-4-eu-chaussures-de...
1,ONLY,"[{'sku': 'ON321S07Y-A11', 'url_key': 'only-onl...","[{'key': 'discountRate', 'value': '-50%', 'tra...",False,[{'path': 'ON/32/1S/07/YA/11/ON321S07Y-A11@9.1...,ONLNOVA - Short - cloud dancer/white,NaN,False,False,False,False,"14,99 €","7,50 €",clothing,"[36, 38, 40, 42, 44]",ON321S07Y-A11,only-onlnova-short-on321s07y-a11

In [4]:
# Find out the total page count in the 1st page data.

total_pages = results['pagination']['page_count']

df = pd.DataFrame() 

print(total_pages)

791

In [5]:
# Use a FOR loop to make requests for the additional pages from 2 to page count. 
# Append the data of each additional page to the flatterned data object.

"""for i in range(total_pages):
    k = 84*i
    url = f'https://www.zalando.fr/api/catalog/articles?campaigns=fr_ss19_eoss_fs_wave_3_2019_26&categories=femme&limit=84&offset=84&sort=popularity'
    response = requests.get(url, headers={"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"})
    results = response.json()
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1 = flattened_data1.set_index('sku')
    df = df.append(flattened_data1)

df.head()
"""

'for i in range(total_pages):\n    k = 84*i\n    url = f\'https://www.zalando.fr/api/catalog/articles?campaigns=fr_ss19_eoss_fs_wave_3_2019_26&categories=femme&limit=84&offset=84&sort=popularity\'\n    response = requests.get(url, headers={"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"})\n    results = response.json()\n    flattened_data = json_normalize(results)\n    flattened_data1 = json_normalize(flattened_data.articles[0])\n    flattened_data1 = flattened_data1.set_index(\'sku\')\n    df = df.append(flattened_data1)\n\ndf.head()\n'

In [6]:
dfmini = pd.DataFrame() 

for i in range(13):
    k = 84*i
    url = f'https://www.zalando.fr/api/catalog/articles?campaigns=fr_ss19_eoss_fs_wave_3_2019_26&categories=femme&limit=84&offset=84&sort=popularity'
    response = requests.get(url, headers={"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"})
    results = response.json()
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1 = flattened_data1.set_index('sku')
    dfmini = dfmini.append(flattened_data1)

dfmini.head(2)

,brand_name,family_articles,flags,is_premium,media,name,outfits,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,url_key
sku,,,,,,,,,,,,,,,,
N1241A0NO-Q11,Nike Performance,"[{'sku': 'N1241A0NO-Q11', 'url_key': 'nike-per...","[{'key': 'discountRate', 'value': '-30%', 'tra...",False,[{'path': 'N1/24/1A/0N/OQ/11/N1241A0NO-Q11@9.1...,REVOLUTION 4 - Chaussures de running neutres -...,NaN,False,False,False,False,"49,95 €","35,00 €",shoe,"[35.5, 36, 37.5, 38, 38.5, 39, 40, 40.5, 41, 4...",nike-performance-revolution-4-eu-chaussures-de...
ON321S07Y-A11,ONLY,"[{'sku': 'ON321S07Y-A11', 'url_key': 'only-onl...","[{'key': 'discountRate', 'value': '-50%', 'tra...",False,[{'path': 'ON/32/1S/07/YA/11/ON321S07Y-A11@9.1...,ONLNOVA - Short - cloud dancer/white,NaN,False,False,False,False,"14,99 €","7,50 €",clothing,"[36, 38, 40, 42, 44]",only-onlnova-short-on321s07y-a11

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [7]:
# The trending brand.

# Toutes les marques (dans dfmini)
for i in sorted(set(dfmini['brand_name'])):
    print(i)

4th & Reckless
Calvin Klein Swimwear
Carhartt WIP
Converse
Dorothy Perkins
Dorothy Perkins Wide Fit
Espadrij l´originale
Esprit
Even&Odd
Fila
Glamorous
Hollister Co.
JDY
KIOMI
Lacoste
Levi's®
Missguided
New Look
New Look Petite
Nike Performance
Nike Sportswear
Noisy May
ONLY
ONLY Petite
Pepe Jeans
Polo Ralph Lauren
Puma
RAID
TWINTIP
Tommy Hilfiger
Tommy Jeans
Topshop
Vero Moda
Vero Moda Petite
Vila
YAS
adidas Originals
edc by Esprit
mint&berry

In [8]:
# Marque avec le plus d'articles (dans dfmini)

dfmini['brand_name'].value_counts().index[0]

'Nike Sportswear'

In [9]:
dfmini.head(2)

,brand_name,family_articles,flags,is_premium,media,name,outfits,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,url_key
sku,,,,,,,,,,,,,,,,
N1241A0NO-Q11,Nike Performance,"[{'sku': 'N1241A0NO-Q11', 'url_key': 'nike-per...","[{'key': 'discountRate', 'value': '-30%', 'tra...",False,[{'path': 'N1/24/1A/0N/OQ/11/N1241A0NO-Q11@9.1...,REVOLUTION 4 - Chaussures de running neutres -...,NaN,False,False,False,False,"49,95 €","35,00 €",shoe,"[35.5, 36, 37.5, 38, 38.5, 39, 40, 40.5, 41, 4...",nike-performance-revolution-4-eu-chaussures-de...
ON321S07Y-A11,ONLY,"[{'sku': 'ON321S07Y-A11', 'url_key': 'only-onl...","[{'key': 'discountRate', 'value': '-50%', 'tra...",False,[{'path': 'ON/32/1S/07/YA/11/ON321S07Y-A11@9.1...,ONLNOVA - Short - cloud dancer/white,NaN,False,False,False,False,"14,99 €","7,50 €",clothing,"[36, 38, 40, 42, 44]",only-onlnova-short-on321s07y-a11

In [12]:
# The product(s) with the highest discount.

# Ici on change les string en float

dfmini['price.original']= dfmini['price.original'].str.extract('(\d*,\d*)')
dfmini['price.promotional'] = dfmini['price.promotional'].str.extract('(\d*,\d*)')

dfmini[['price.original', 'price.promotional']].head(2).dtypes

price.original       object
price.promotional    object
dtype: object

In [13]:
dfmini['price.original'] = [x.replace(',', '.') for x in dfmini['price.original']]
dfmini['price.promotional'] = [x.replace(',', '.') for x in dfmini['price.promotional']]

dfmini[['price.original', 'price.promotional']].head(2).dtypes

price.original       object
price.promotional    object
dtype: object

In [14]:
#--------

dfmini['discount_amount'] = dfmini['price.original'].astype(float) - dfmini['price.promotional'].astype(float)

df1 = dfmini.copy()

dfmini[['discount_amount', 'price.original', 'price.promotional']].dtypes

discount_amount      float64
price.original        object
price.promotional     object
dtype: object

In [20]:
#--------

total_disc = df1.groupby(['brand_name']).sum().discount_amount

total_disc.dtypes

dtype('float64')

In [21]:
#--------

total_disc.sort_values(ascending=False).head()

brand_name
Nike Sportswear      3914.17
Polo Ralph Lauren    2442.70
Levi's®              1546.35
ONLY                  993.20
New Look              879.97
Name: discount_amount, dtype: float64

In [22]:
total_disc.sort_values(ascending=False).index[0]

'Nike Sportswear'

In [66]:
# The sum of discounts of all goods 
# (sum_discounted_prices divided by sum_original_prices).

sum_original_prices = dfmini['price.original'].astype(float).sum()
sum_discounted_prices = dfmini['price.promotional'].astype(float).sum()

discount_all_goods = round(sum_discounted_prices / sum_original_prices, 2)

discount_all_goods

0.59

In [42]:
dfmini.head(0)

Empty DataFrame
Columns: [brand_name, family_articles, flags, is_premium, media, name, outfits, price.has_different_original_prices, price.has_different_prices, price.has_different_promotional_prices, price.has_discount_on_selected_sizes_only, price.original, price.promotional, product_group, sizes, url_key, discount_amount]
Index: []