In [749]:
import pandas as pd

In [750]:
"""
data.get_dummies()
"""

'\ndata.get_dummies()\n'

In [751]:
# On importe le fichier csv

data = pd.read_csv('/Users/messie/Desktop/GSAF5.csv', encoding="ISO-8859-1")

data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [752]:
data.shape[0]

5992

In [753]:
# On change le nom des colonnes

data.rename({'Name': 'Victim', 'Sex ': 'Sex', 'Species ': 'Species', 
             'pdf': 'Case\'s PDF', 'href': 'Downloading link'}, axis=1, inplace=True)

data.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Victim,Sex,...,Species,Investigator or Source,Case's PDF,href formula,Downloading link,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN

In [754]:
set(data['Sex'])


data['Sex'] = data['Sex'].str.replace('N', 'UNKNOWN').str.replace('lli', 'UNKNOWN').str.replace('M ', 'UNKNOWN').str.replace('.', 'UNKNOWN')

set(data['Sex'])

{'F', 'M', 'UNKNOWN', nan}

In [755]:
# On regarde le nombre de donnÃ©es nulles dans chaque col

data.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Victim                     200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
Case's PDF                   0
href formula                 1
Downloading link             3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [756]:
# On enlÃ¨ve les cols qui ont trop peu de donnÃ©es / inutiles

"""
null_cols = data.isnull().sum()
drop_cols = list(null_cols[null_cols>25000].index)
data = data.drop(drop_cols, axis=1)
"""

data = data.drop(['Case Number.1', 'Case Number.2', 
                  'href formula', 'original order', 'Unnamed: 22', 'Unnamed: 23'], axis=1)
data = data.drop_duplicates()

data.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Victim,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case's PDF,Downloading link
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

In [757]:
# On supprime les "male"/"female" dans 'Name'


data['Victim'] = data['Victim'].str.replace('female', 'UNKNOWN').str.replace('male', 'UNKNOWN')

data.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Victim,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case's PDF,Downloading link
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,UNKNOWN,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

In [758]:
# On indique dans les cases vides qu'on n'a pas d'informations

data = data.fillna('UNKNOWN')

In [759]:
data.isnull().sum()

Case Number               0
Date                      0
Year                      0
Type                      0
Country                   0
Area                      0
Location                  0
Activity                  0
Victim                    0
Sex                       0
Age                       0
Injury                    0
Fatal (Y/N)               0
Time                      0
Species                   0
Investigator or Source    0
Case's PDF                0
Downloading link          0
dtype: int64

In [760]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Victim                    object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
Case's PDF                object
Downloading link          object
dtype: object

In [761]:
# ANALYSE DES DONNÃ‰ES

In [762]:
# Nombre d'attaques

#print(set(data['Type']))

attacks = [[unprov.shape[0], prov.shape[0], sea.shape[0], boat.shape[0], inva.shape[0], data.shape[0]]]
cols = ['Unprovocked', 'Provocked', 'Sea Disaster', 'Boat accident', 'Invalid data', 'Total']


pd.DataFrame(attacks, columns=cols, index=['Attacks'])

,Unprovocked,Provocked,Sea Disaster,Boat accident,Invalid data,Total
Attacks,4386,557,220,310,519,5992

In [763]:
# Sexe des victimes

female = data[(data['Sex']=='F')]
male = data[(data['Sex']=='M')]
unkn = data[(data['Sex']=='UNKNOWN')]

sex = [[female.shape[0], male.shape[0], unkn.shape[0], data.shape[0]]]
cols = ['Female', 'Male', 'Unknown', 'Total']

pd.DataFrame(sex, columns=cols, index=['Victims'])

         Female  Male  Unknown  Total
Victims     585  4835      572   5992

In [764]:
# Accidents en France

fr = data[(data['Country']=='FRANCE')]

pd.DataFrame([[fr.shape[0], data.shape[0]]], columns=['France', 'Other'], index=['Attacks'])

         France  Other
Attacks      13   5992

In [765]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace(' N', 'N').str.replace('N ', 'N').str.replace('n', 'N').str.replace('F', 'Y').str.replace('#VALUE!', 'UNKNOWN')

set(data['Fatal (Y/N)'])

fatal = data[(data['Fatal (Y/N)']=='Y')]
not_fat = data[(data['Fatal (Y/N)']=='N')]
unkn = data[(data['Fatal (Y/N)']=='UNKNOWN')]

pd.DataFrame([[fatal.shape[0], not_fat.shape[0], unkn.shape[0], data.shape[0]]], 
             columns=['Fatal', 'Not fatal', 'Unknown', 'Total'], index=['Attacks'])

         Fatal  Not fatal  Unknown  Total
Attacks   1553       4325      114   5992

In [766]:
data['Age'] = data['Age'].str.replace('&', '')
data['Age'] = data['Age'].str.replace('mid-', '')
data['Age'] = data['Age'].str.replace('\'', '')
data['Age'] = data['Age'].str.replace('s', '')
data['Age'] = data['Age'].str.replace('>', '')
data['Age'] = data['Age'].str.replace('\xa0', 'UNKNOWN')
data['Age'] = data['Age'].str.replace(' month', '')
data['Age'] = data['Age'].str.replace('teen', '15')
data['Age'] = data['Age'].str.replace('A.M.', 'UNKNOWN')
data['Age'] = data['Age'].str.replace('(', '')
data['Age'] = data['Age'].str.replace(')', '')
data['Age'] = data['Age'].str.replace(',', '  ')
data['Age'] = data['Age'].str.replace('adult', '')
data['Age'] = data['Age'].str.replace('middle-age', '50')
data['Age'] = data['Age'].str.replace('?', '')
data['Age'] = data['Age'].str.replace('\"', '')
data['Age'] = data['Age'].str.replace('or', '')
data['Age'] = data['Age'].str.replace('to', '')
data['Age'] = data['Age'].str.replace('young', '30')
data['Age'] = data['Age'].str.replace('Both', '')
data['Age'] = data['Age'].str.replace('MAKE LINE GREEN', 'UNKNOWN')
data['Age'] = data['Age'].str.replace('Elderly', '50')
data['Age'] = data['Age'].str.replace('X', 'UNKNOWN')
data['Age'] = data['Age'].str.replace('Teen', '15')
data['Age'] = data['Age'].str.replace('Â½', '')
data['Age'] = data['Age'].str.replace('UNKNOWN ', 'UNKNOWN')
data['Age'] = data['Age'].str.replace('Ca. ', '')
data['Age'] = data['Age'].str.replace('F', 'UNKNOWN')
data['Age'] = data['Age'].str.replace('M', 'UNKNOWN')


"""data['Age'] = data['Age'].str.replace('8  10', '9')
data['Age'] = data['Age'].str.replace('18  22', '20')
data['Age'] = data['Age'].str.replace('21, 34,24  35', '30')
data['Age'] = data['Age'].str.replace('12  13', '13')
data['Age'] = data['Age'].str.replace('36  26', '30')
data['Age'] = data['Age'].str.replace('31  33', '30')
data['Age'] = data['Age'].str.replace('28  26', '27')
data['Age'] = data['Age'].str.replace('7          31', '7')
data['Age'] = data['Age'].str.replace('33  26', '30')
data['Age'] = data['Age'].str.replace('18  20', '19')
data['Age'] = data['Age'].str.replace('33  37', '35')
data['Age'] = data['Age'].str.replace('37, 67, 35, 27,    27', '40')
data['Age'] = data['Age'].str.replace('10  12', '11')
data['Age'] = data['Age'].str.replace('9  10', '10')
data['Age'] = data['Age'].str.replace('7  8', '7')
data['Age'] = data['Age'].str.replace('32  30', '31')
data['Age'] = data['Age'].str.replace('23  20', '21')
data['Age'] = data['Age'].str.replace('36  23', '30')
data['Age'] = data['Age'].str.replace('28, 23  30', '28')
data['Age'] = data['Age'].str.replace('17  35', '25')
data['Age'] = data['Age'].str.replace('50  30', '40')
data['Age'] = data['Age'].str.replace('2  3', '3')
data['Age'] = data['Age'].str.replace('16  18', '17')
data['Age'] = data['Age'].str.replace('13  14', '13')
data['Age'] = data['Age'].str.replace('13  18', '15')
data['Age'] = data['Age'].str.replace('17  16', '17')
data['Age'] = data['Age'].str.replace('9  12', '10')
data['Age'] = data['Age'].str.replace('21  26', '24')
data['Age'] = data['Age'].str.replace('23  26', '24')
data['Age'] = data['Age'].str.replace('25  28', '26')
data['Age'] = data['Age'].str.replace('30  32', '31')
data['Age'] = data['Age'].str.replace('34  19', '25')
data['Age'] = data['Age'].str.replace('30  36', '33')
data['Age'] = data['Age'].str.replace('46  34', '40')
data['Age'] = data['Age'].str.replace('25  35', '30')
data['Age'] = data['Age'].str.replace(' ', '')"""



set(data['Age'])

{'',
 ' ',
 '  ',
 '       14',
 '  19',
 ' 11',
 '1',
 '10',
 '10  12',
 '11',
 '12',
 '12  13',
 '13',
 '13  14',
 '13  18',
 '14',
 '15',
 '16',
 '16  18',
 '17',
 '17  16',
 '17  35',
 '18',
 '18  20',
 '18  22',
 '19',
 '2',
 '2  3',
 '20',
 '21',
 '21  ',
 '21   34  24  35',
 '21  26',
 '22',
 '23',
 '23  20',
 '23  26',
 '24',
 '25',
 '25  28',
 '25  35',
 '26',
 '27',
 '28',
 '28   23  30',
 '28  26',
 '29',
 '3',
 '30',
 '30  32',
 '30  36',
 '31',
 '31  33',
 '32',
 '32  30',
 '33',
 '33  26',
 '33  37',
 '34',
 '34  19',
 '35',
 '36',
 '36  23',
 '36  26',
 '37',
 '37   67   35   27      27',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '46  34',
 '47',
 '48',
 '49',
 '5',
 '50',
 '50  30',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '7',
 '7          31',
 '7  8',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '77',
 '78',
 '8',
 '8  10',
 '81',
 '84',
 '86',
 '87',
 '9',
 '9  10',
 '9  12',
 'UNKNOWN'}

In [879]:
ages= []

for col in data.index:
    a = str(data.at[col,'Age'])
    ages.append(a)
    
len(ages) == data.shape[0]
ages

['16',
 '36',
 '43',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '60',
 '51',
 '50',
 '12',
 'UNKNOWN',
 '9',
 '22',
 '25',
 '37',
 '20',
 '49',
 '15',
 '21',
 '22',
 '40',
 '72',
 'UNKNOWN',
 '43',
 '18',
 '29',
 '36',
 'UNKNOWN',
 '31',
 'UNKNOWN',
 '9',
 '11',
 'UNKNOWN',
 'UNKNOWN',
 '10',
 'UNKNOWN',
 '59',
 'UNKNOWN',
 '42',
 '34',
 '35',
 '11',
 '59',
 '43',
 '42',
 'UNKNOWN',
 'UNKNOWN',
 '19',
 '6',
 '19',
 '27',
 '64',
 '60',
 '23',
 'UNKNOWN',
 'UNKNOWN',
 '29',
 '52',
 '13',
 '57',
 '22',
 '11',
 '48',
 '23',
 '59',
 '39',
 '24',
 '15',
 'UNKNOWN',
 '12',
 '26',
 '26',
 '69',
 '60',
 '34',
 'UNKNOWN',
 '46',
 '22',
 '15',
 '41',
 '9',
 'UNKNOWN',
 '19',
 '45',
 '12',
 'UNKNOWN',
 '41',
 '21',
 '31',
 'UNKNOWN',
 '65',
 'UNKNOWN',
 '45',
 '40',
 'UNKNOWN',
 'UNKNOWN',
 '15',
 'UNKNOWN',
 'UNKNOWN',
 '48',
 'UNKNOWN',
 '11',
 '31',
 'UNKNOWN',
 '38',
 '71',
 '43',
 '32',
 '58',
 'UNKNOWN',
 '26',
 '22',
 'UNKNOWN',
 'UNKNOWN',
 '28',
 '20',
 '9',
 '54',
 '28',
 '19',
 '50',
 '10',
 '42',
 '21',
 '21',
 '35',
 '32',
 '44',
 'UNKNOWN',
 '9',
 '25',
 'UNKNOWN',
 '18',
 '22',
 '13',
 '14',
 '22',
 '7',
 'UNKNOWN',
 '14',
 '27',
 '12',
 '16',
 'UNKNOWN',
 '20',
 '42',
 '50',
 '29',
 '62',
 'UNKNOWN',
 '37',
 'UNKNOWN',
 '54',
 '21',
 'UNKNOWN',
 '38',
 '15',
 '10',
 '22',
 '10',
 '57',
 '52',
 '25',
 '35',
 '46',
 '31',
 '40',
 '45',
 '34',
 '38',
 '39',
 'UNKNOWN',
 '23',
 '32',
 '52',
 '32',
 '68',
 'UNKNOWN',
 '12',
 '18',
 '19',
 'UNKNOWN',
 '23',
 '43',
 '19',
 '47',
 '6',
 '37',
 '9',
 '36',
 '10',
 '16',
 '12',
 'UNKNOWN',
 '13',
 '11',
 '17',
 '47',
 '14',
 '19',
 '19',
 '13',
 '18',
 '30',
 '50',
 'UNKNOWN',
 'UNKNOWN',
 '29',
 '65',
 '63',
 '26',
 '71',
 '48',
 'UNKNOWN',
 '13',
 '23',
 '70',
 '43',
 '36',
 '52',
 '58',
 '9',
 'UNKNOWN',
 '36',
 '18',
 'UNKNOWN',
 '22',
 '41',
 '35',
 'UNKNOWN',
 '57',
 '20',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '17',
 '38',
 '34',
 '15',
 '12',
 'UNKNOWN',
 '17',
 'UNKNOWN',
 'UNKNOWN',
 '50',
 '40',
 'UNKNOWN',
 '17',
 'UNKNOWN',
 '13',
 '39',
 'UNKNOWN',
 '44',
 'UNKNOWN',
 '53',
 'UNKNOWN',
 '18',
 '34',
 '20',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '13',
 '7',
 'UNKNOWN',
 '40',
 'UNKNOWN',
 '29',
 '15',
 'UNKNOWN',
 'UNKNOWN',
 '28',
 '23',
 'UNKNOWN',
 '36',
 'UNKNOWN',
 '50',
 '43',
 '20',
 '52',
 '16',
 '13',
 '17',
 'UNKNOWN',
 '33',
 '30',
 '29',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '31',
 'UNKNOWN',
 '26',
 'UNKNOWN',
 '10',
 '7',
 '10',
 '45',
 '50',
 '8',
 '20',
 'UNKNOWN',
 '15',
 '51',
 '8',
 'UNKNOWN',
 '61',
 '39',
 '63',
 'UNKNOWN',
 '14',
 'UNKNOWN',
 'UNKNOWN',
 '19',
 '48',
 '42',
 'UNKNOWN',
 '15',
 'UNKNOWN',
 '43',
 '16',
 '39',
 '43',
 '14',
 '22',
 'UNKNOWN',
 '37',
 '29',
 'UNKNOWN',
 '10',
 '55',
 '38',
 '35',
 '44',
 '12',
 'UNKNOWN',
 '40',
 '23',
 'UNKNOWN',
 '42',
 '25',
 'UNKNOWN',
 'UNKNOWN',
 '15',
 '15',
 '63',
 '38',
 '66',
 'UNKNOWN',
 '9',
 '42',
 '42',
 'UNKNOWN',
 '10',
 'UNKNOWN',
 '21',
 '21',
 '21',
 '28',
 'UNKNOWN',
 '28',
 'UNKNOWN',
 '24',
 '31',
 'UNKNOWN',
 '37',
 '19',
 '35',
 '29',
 '30',
 '26',
 '57',
 '19',
 '58',
 '35',
 '25',
 'UNKNOWN',
 '77',
 '16',
 'UNKNOWN',
 '46',
 '60',
 '24',
 'UNKNOWN',
 '41',
 '45',
 '25',
 '6',
 '74',
 '55',
 '45',
 '12',
 '50',
 '27',
 '7',
 '45',
 'UNKNOWN',
 '21',
 '13',
 'UNKNOWN',
 '43',
 '25',
 '17',
 '3',
 'UNKNOWN',
 '9',
 'UNKNOWN',
 'UNKNOWN',
 '47',
 '50',
 '11',
 'UNKNOWN',
 '16',
 'UNKNOWN',
 '20',
 '19',
 '10',
 'UNKNOWN',
 '17',
 '56',
 '32',
 '40',
 'UNKNOWN',
 '18',
 '64',
 '50',
 '18',
 '50',
 '15',
 '15',
 '33',
 '63',
 '48',
 '29',
 'UNKNOWN',
 '20',
 'UNKNOWN',
 'UNKNOWN',
 '14',
 '28',
 '15',
 'UNKNOWN',
 'UNKNOWN',
 '10',
 '58',
 'UNKNOWN',
 '32',
 '11',
 '41',
 '30',
 '29',
 '42',
 '36',
 '16',
 'UNKNOWN',
 '34',
 '51',
 '9',
 'UNKNOWN',
 '21',
 '40',
 '53',
 '50',
 '24',
 '58',
 '47',
 '34',
 'UNKNOWN',
 '50',
 '30',
 'UNKNOWN',
 '68',
 '28',
 '28  26',
 '39',
 '46',
 'UNKNOWN',
 'UNKNOWN',
 '16',
 '48',
 '18',
 'UNKNOWN',
 'UNKNOWN',
 '62',
 '43',
 'UNKNOWN',
 '26',
 'UNKNOWN',
 '23',
 '29',
 '20',
 '32',
 '60',
 '31',
 '25',
 '61',
 '20',
 '32',
 '14',
 '30',
 '43',
 '25',
 '51',
 '39',
 '35',
 '24',
 '55',
 'UNKNOWN',
 '38',
 '42',
 '11',
 '21',
 '22',
 '52',
 '29',
 '19',
 '25',
 'UNKNOWN',
 '30',
 '37',
 '32',
 '8',
 'UNKNOWN',
 '56',
 '53',
 '34',
 '18',
 '31',
 'UNKNOWN',
 '56',
 '39',
 'UNKNOWN',
 '17',
 '48',
 '44',
 '50',
 '12',
 '22',
 '24',
 '23',
 '24',
 '43',
 'UNKNOWN',
 '42',
 '52',
 '29',
 '60',
 '6',
 '26',
 '16',
 'UNKNOWN',
 '12',
 '62',
 '16',
 '6',
 '23',
 '18',
 'UNKNOWN',
 'UNKNOWN',
 '16',
 '42',
 '57',
 '30',
 '12',
 '25',
 '33',
 '46',
 '22',
 'UNKNOWN',
 '20',
 '30',
 '47',
 '15',
 '28',
 '20',
 '27',
 '28',
 'UNKNOWN',
 '33',
 '21',
 'UNKNOWN',
 '20',
 '61',
 '15',
 '17',
 'UNKNOWN',
 '34',
 '31',
 '19',
 '42',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '29',
 'UNKNOWN',
 'UNKNOWN',
 '26',
 '24',
 '44',
 '25',
 '53',
 '28',
 '34',
 'UNKNOWN',
 'UNKNOWN',
 '23',
 '27',
 'UNKNOWN',
 '35',
 '51',
 'UNKNOWN',
 '14',
 'UNKNOWN',
 'UNKNOWN',
 '63',
 '18',
 '10',
 'UNKNOWN',
 'UNKNOWN',
 '35',
 '42',
 '27',
 '26',
 'UNKNOWN',
 '32',
 '41',
 '50',
 'UNKNOWN',
 'UNKNOWN',
 '64',
 '51',
 'UNKNOWN',
 '29',
 '27',
 '48',
 '43',
 '21',
 '5',
 'UNKNOWN',
 '38',
 '17',
 '25',
 '37',
 '30',
 'UNKNOWN',
 '21',
 '19',
 '19',
 '48',
 '39',
 'UNKNOWN',
 '21',
 '10',
 '49',
 '16',
 '20',
 '12',
 '25',
 '32',
 '27',
 '30',
 '7',
 '54',
 '36',
 '14',
 '43',
 'UNKNOWN',
 '29',
 '6',
 'UNKNOWN',
 'UNKNOWN',
 '54',
 '12',
 '14',
 '16',
 '17',
 '28',
 '21',
 '22',
 '10',
 'UNKNOWN',
 '20',
 '35',
 '15',
 '31',
 'UNKNOWN',
 '28',
 '24',
 '28',
 '19',
 'UNKNOWN',
 '22',
 '33',
 'UNKNOWN',
 'UNKNOWN',
 '15',
 '28',
 '86',
 '37',
 'UNKNOWN',
 '43',
 '37',
 '32',
 '17',
 '49',
 '41',
 'UNKNOWN',
 '27',
 'UNKNOWN',
 'UNKNOWN',
 '48',
 '46',
 '30',
 '24',
 'UNKNOWN',
 'UNKNOWN',
 '36',
 '21',
 '32',
 '49',
 'UNKNOWN',
 '58',
 'UNKNOWN',
 '37',
 '38',
 '25',
 '55',
 '7',
 '16',
 '37',
 'UNKNOWN',
 '16',
 'UNKNOWN',
 '46',
 '70',
 'UNKNOWN',
 '54',
 '46',
 '70',
 '48',
 '47',
 'UNKNOWN',
 '33',
 '21',
 'UNKNOWN',
 'UNKNOWN',
 '20',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '30',
 '14',
 '19',
 'UNKNOWN',
 '22',
 'UNKNOWN',
 'UNKNOWN',
 '15',
 '29',
 '18',
 '29',
 '15',
 '27',
 '24',
 'UNKNOWN',
 '24',
 '24',
 '34',
 '43',
 '10',
 '31',
 '45',
 'UNKNOWN',
 '16',
 '47',
 '25',
 '35',
 'UNKNOWN',
 'UNKNOWN',
 '37',
 '16',
 '20',
 '10',
 '13',
 '55',
 '9',
 'UNKNOWN',
 'UNKNOWN',
 '21',
 '20',
 '19',
 '48',
 '20',
 '6',
 '13',
 '17',
 '18',
 '40',
 '20',
 '49',
 '58',
 '60',
 'UNKNOWN',
 '59',
 '10',
 '29',
 '68',
 '35',
 '24',
 '34',
 'UNKNOWN',
 'UNKNOWN',
 '19',
 '60',
 '46',
 'UNKNOWN',
 '18',
 'UNKNOWN',
 '31',
 '38',
 '14',
 '29',
 'UNKNOWN',
 '54',
 'UNKNOWN',
 '37',
 '9',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '32',
 'UNKNOWN',
 '20',
 '55',
 '27',
 'UNKNOWN',
 '18',
 '22',
 'UNKNOWN',
 '24',
 '39',
 'UNKNOWN',
 '58',
 '49',
 '10',
 '31',
 '22',
 '27',
 '18',
 '25',
 '21',
 '27',
 'UNKNOWN',
 '17',
 'UNKNOWN',
 '54',
 '10',
 '23',
 '23',
 'UNKNOWN',
 '39',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '34',
 '60',
 '15',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '25',
 '22',
 'UNKNOWN',
 '26',
 'UNKNOWN',
 '56',
 '14',
 '14',
 '41',
 'UNKNOWN',
 '14',
 '11',
 '26',
 '19',
 '57',
 'UNKNOWN',
 'UNKNOWN',
 '37',
 '12',
 '43',
 '52',
 '26',
 '14',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '50',
 '46',
 'UNKNOWN',
 '31',
 '49',
 '55',
 '27',
 '48',
 'UNKNOWN',
 'UNKNOWN',
 '20',
 '23',
 '52',
 '40',
 '31',
 '49',
 '24',
 'UNKNOWN',
 '15',
 '59',
 '16',
 '17',
 'UNKNOWN',
 'UNKNOWN',
 '17',
 'UNKNOWN',
 '61',
 '21',
 '19',
 '40',
 'UNKNOWN',
 '15',
 'UNKNOWN',
 'UNKNOWN',
 '33',
 '31',
 'UNKNOWN',
 '41',
 'UNKNOWN',
 '49',
 '17',
 '15',
 'UNKNOWN',
 '19',
 '25',
 '17',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '24',
 '13',
 '31',
 'UNKNOWN',
 '22',
 '49',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '10',
 '29',
 '51',
 'UNKNOWN',
 'UNKNOWN',
 '15',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 'UNKNOWN',
 '45',
 '39',
 '34',
 '24',
 '50',
 '15',
 '11',
 '43',
 '44',
 '40',
 '43',
 '32',
 '40',
 'UNKNOWN',
 '51',
 '43',
 '15',
 '52',
 'UNKNOWN',
 '29',
 '27',
 '52',
 '19',
 '26',
 '20',
 '20',
 '47',
 '7',
 '38',
 '13',
 'UNKNOWN',
 ...]

In [880]:
# Fonction pour calculer une moyenne d'Ã¢ge lorsqu'on en a plusieurs

character = ['34 45', '21 30', 'UNKNOWN', '7']
final = []

tampon = []
meann = []

for i in character:
    if i=="UNKNOWN":
        final.append(i)
        continue
    if i=="":
        final.append(i)
        continue
    for char in i:
        if char.isdigit():
            age = char
            tampon.append(age)
        elif char==" ":
            str1 = ''.join(tampon)
            str2 = int(str1)
            meann.append(str2)
            age = 0
            tampon = []
        if char == i[-1] and char.isdigit():
            str1 = ''.join(tampon)
            str2 = int(str1)
            meann.append(str2)
            age = 0
            tampon = []
    # C'est ici que je vais faire la moyenne d'Ã¢ge pour chaque "groupe" :
    age_moyen = str(int(sum(meann) / len(meann)))
    meann = []
    final.append(age_moyen)
    age = 0
    tampon = []
        

        
print("RÃ©sultat des Ã¢ges moyens : ", final)

RÃ©sultat des Ã¢ges moyens :  ['39', '25', 'UNKNOWN', '7']

In [881]:
final = []

tampon = []
meann = []

for i in ages:
    if i=="UNKNOWN":
        final.append(i)
        continue
    for char in i:
        if char.isdigit():
            age = char
            tampon.append(age)
        elif char==" ":
            str1 = ''.join(tampon)
            str2 = int(str1)
            meann.append(str2)
            age = 0
            tampon = []
        if char == i[-1] and char.isdigit():
            str1 = ''.join(tampon)
            str2 = int(str1)
            meann.append(str2)
            age = 0
            tampon = []
    # C'est ici que je vais faire la moyenne d'Ã¢ge pour chaque "groupe" :
    age_moyen = str(int(sum(meann) / len(meann)))
    meann = []
    final.append(age_moyen)
    age = 0
    tampon = []
        

        
print("RÃ©sultat des Ã¢ges moyens : ", final)


"""

Pour l'erreur :
- les espaces trop grands ? (continue ?)



"""

ValueError: invalid literal for int() with base 10: ''

In [882]:
"""for i in ages:
    for char in i:
        tampon = []
        if char.isdigit():
            age = int(char)
            tampon = tampon.append(age)
        
            print("ok")
"""

'for i in ages:\n    for char in i:\n        tampon = []\n        if char.isdigit():\n            age = int(char)\n            tampon = tampon.append(age)\n        \n            print("ok")\n'